@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
}
